<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>948383105707-i61d5fonku4bduetqc7amkfveg7botph.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.948383105707-i61d5fonku4bduetqc7amkfveg7botph</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>948383105707-fdtmforec49f06mfubldo4fbgovrg4is.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCF2XYy8yjHJ-ULWWDDSCLFJbr_VEvdrkc</string>
	<key>GCM_SENDER_ID</key>
	<string>948383105707</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stack.fleetstack</string>
	<key>PROJECT_ID</key>
	<string>aiqconnect</string>
	<key>STORAGE_BUCKET</key>
	<string>aiqconnect.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:948383105707:ios:1af13f07ae7ca5801c6dee</string>
</dict>
</plist>