<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Meta tag -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Favicon & Title -->
        <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png" />
        <title>Fleet Stack</title>

        <!-- CSS only -->
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="css/aos.css" />
        <link rel="stylesheet" type="text/css" href="css/slick.css" />
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <link rel="stylesheet" type="text/css" href="css/responsive.css" />
    </head>
    <body>
        <div class="main-wrpper">
            
            <!-- Header -->
            <header>
                <div class="container-fluid">
                    <nav class="navbar navbar-expand-md navbar-light">
                        <a class="navbar-brand" href="index.html">
                            <img src="images/logo-dark.webp" alt="Logo" class="logo-light" />
                            <img src="images/logo-dark.webp" alt="Logo" class="logo-dark" />
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#NavbarToggle" aria-controls="NavbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="NavbarToggle">
                            <ul class="navbar-nav">
                                <li class="dropdown lang-dropdown">
                                    <button class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        <img src="images/flag1.svg" alt="">
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="dropdown-item" href="#"><img src="images/flag1.svg" alt=""> English</a></li>
                                        <li><a class="dropdown-item" href="#"><img src="images/flag2.svg" alt=""> Española</a></li>
                                        <li><a class="dropdown-item" href="#"><img src="images/flag3.svg" alt=""> Deutsche</a></li>
                                        <li><a class="dropdown-item" href="#"><img src="images/flag4.svg" alt=""> Italiana</a></li>
                                        <li><a class="dropdown-item" href="#"><img src="images/flag5.svg" alt=""> русский</a></li>
                                        <li><a class="dropdown-item" href="#"><img src="images/flag6.svg" alt=""> 中国人</a></li>
                                        <li><a class="dropdown-item" href="#"><img src="images/flag7.svg" alt=""> français</a></li>
                                        <li><a class="dropdown-item" href="#"><img src="images/flag8.svg" alt=""> Arabic</a></li>
                                    </ul>
                                </li>
                                <li><a class="nav-link" href="#"><i class="fad fa-th"></i></a></li>
                                <li><a class="nav-link" href="#"><i class="fas fa-expand"></i></a></li>
                                <li><a class="nav-link toggle-swich" href="#"><i class="fas fa-moon"></i></a></li>
                                <li class="dropdown user-dropdown">
                                    <button class="dropdown-toggle user-box" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        <img src="images/avatar-1.jpg" alt="">
                                        <div>
                                            <h5>Anna Adame</h5>
                                            <h6>Founder</h6>
                                        </div>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">                                       
                                        <li><a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt"></i>  Logout</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </header>
            <!-- End Header -->

            <section class="project-wrp">
                <div class="container">
                    <a href="javascript:void(0);" class="btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fal fa-plus"></i> Add Project</a>
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                             <div class="project-box">
                                <div class="dropdown drop-ellipsis">
                                    <button class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="dropdown-item" href="#">Edit</a></li>
                                        <li><a class="dropdown-item" href="#">Delete</a></li>
                                    </ul>
                                </div>
                                <div class="user-box">
                                    <img src="images/avatar-1.jpg" alt="">
                                    <div>
                                        <h4>Tara Track</h4>
                                        <h5>stack.taratrack.tara</h5>
                                    </div>
                                </div>
                                <img src="images/demo-logo.png" alt="" class="demo-logo">
                                <div class="bottom-button">
                                    <a href="build.html" class="btn-primary">View</a>
                                </div>
                             </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                             <div class="project-box">
                                <div class="dropdown drop-ellipsis">
                                    <button class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="dropdown-item" href="#">Edit</a></li>
                                        <li><a class="dropdown-item" href="#">Delete</a></li>
                                    </ul>
                                </div>
                                <div class="user-box">
                                    <img src="images/avatar-1.jpg" alt="">
                                    <div>
                                        <h4>Tara Track</h4>
                                        <h5>stack.taratrack.tara</h5>
                                    </div>
                                </div>
                                <div class="bottom-button">
                                    <a href="build.html" class="btn-primary">View</a>
                                </div>
                                <img src="images/demo-logo.png" alt="" class="demo-logo">
                             </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                             <div class="project-box">
                                <div class="dropdown drop-ellipsis">
                                    <button class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="dropdown-item" href="#">Edit</a></li>
                                        <li><a class="dropdown-item" href="#">Delete</a></li>
                                    </ul>
                                </div>
                                <div class="user-box">
                                    <img src="images/avatar-1.jpg" alt="">
                                    <div>
                                        <h4>Tara Track</h4>
                                        <h5>stack.taratrack.tara</h5>
                                    </div>
                                </div>
                                <div class="bottom-button">
                                    <a href="build.html" class="btn-primary">View</a>
                                </div>
                                <img src="images/demo-logo.png" alt="" class="demo-logo">
                             </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                             <div class="project-box">
                                <div class="dropdown drop-ellipsis">
                                    <button class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="dropdown-item" href="#">Edit</a></li>
                                        <li><a class="dropdown-item" href="#">Delete</a></li>
                                    </ul>
                                </div>
                                <div class="user-box">
                                    <img src="images/avatar-1.jpg" alt="">
                                    <div>
                                        <h4>Tara Track</h4>
                                        <h5>stack.taratrack.tara</h5>
                                    </div>
                                </div>
                                <div class="bottom-button">
                                    <a href="build.html" class="btn-primary">View</a>
                                </div>
                                <img src="images/demo-logo.png" alt="" class="demo-logo">
                             </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                             <div class="project-box">
                                <div class="dropdown drop-ellipsis">
                                    <button class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="dropdown-item" href="#">Edit</a></li>
                                        <li><a class="dropdown-item" href="#">Delete</a></li>
                                    </ul>
                                </div>
                                <div class="user-box">
                                    <img src="images/avatar-1.jpg" alt="">
                                    <div>
                                        <h4>Tara Track</h4>
                                        <h5>stack.taratrack.tara</h5>
                                    </div>
                                </div>
                                <div class="bottom-button">
                                    <a href="#" class="btn-primary">View</a>
                                </div>
                                <img src="images/demo-logo.png" alt="" class="demo-logo">
                             </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                             <div class="project-box">
                                <div class="dropdown drop-ellipsis">
                                    <button class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="dropdown-item" href="#">Edit</a></li>
                                        <li><a class="dropdown-item" href="#">Delete</a></li>
                                    </ul>
                                </div>
                                <div class="user-box">
                                    <img src="images/avatar-1.jpg" alt="">
                                    <div>
                                        <h4>Tara Track</h4>
                                        <h5>stack.taratrack.tara</h5>
                                    </div>
                                </div>
                                <div class="bottom-button">
                                    <a href="#" class="btn-primary">View</a>
                                </div>
                                <img src="images/demo-logo.png" alt="" class="demo-logo">
                             </div>
                        </div>
                    </div>
                </div>
            </section>


            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            <h2>Create Project</h2>
                            <form>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Project Name" >
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Application Name" >
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Package Name" >
                                </div>
                                <button type="submit" class="btn-primary">Create project</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


            <footer>
                <div class="container">
                    <p>Copyright © 2024. All Rights Reserved.</p>
                </div>
            </footer>
            
        </div>

        <!-- script -->
        <script src="js/jquery.js"></script>
        <script src="js/bootstrap.bundle.min.js"></script>
        <script src="js/scrollIt.min.js"></script>
        <script src="js/slick.min.js"></script>
        <script src="js/aos.js"></script>
        <script src="js/custom.js"></script>
        <!-- End script -->
    </body>
</html>
